.logo {
  height: 1.5rem;
  width: 1.5rem;
}

.partidos th:nth-child(3),
.partidos td:nth-child(3) {
  text-align: right;
}
.partidos td:nth-child(2),
.partidos th:nth-child(2),
.partidos th:nth-child(4),
.partidos td:nth-child(4),
.partidos td:first-child,
.partidos th:nth-child(6),
.partidos td:nth-child(6) {
  text-align: center;
}

/* .clasificacion td:first-child {
  width: 35%;
} */
.form1 {
  background-color: rgb(78, 77, 76);
  color: blanchedalmond;
}
.flecha {
  position: fixed;
  height: 10vh;
  width: 10vh;
  right: 0%;
  bottom: 0%;
}


h1{
  color: black;
  text-align: center;
  margin-top: 2%;
 
}
.divspin{
  padding-bottom: 90vh;
  padding-top: 10vh;
  
}
.imgSpin{
  animation: rotation 5s infinite linear;
  height: 30vh;
  width: 30vh;
  top: 50%;
  left: 50%;
  position: fixed;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.elegirLiga{
  margin-top: 1%;
  margin-bottom: 1%;
}
.equipo{
  width: auto;
  height: auto;
  max-width:10vh;
  padding-bottom: 5vh;
}
.equipo:hover{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  transition: 1s;
}
.caja{
  padding: 10vh;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.658);
  text-align: center;
}
